/*================ Site Header ================*/
.site-logo {
  display: block;
  background-color: aquamarine;
  color: wheat;
  text-align: center;
  text-decoration-style: dashed;
  text-transform: uppercase;

  img {
    display: block;
    border: 2px solid aquamarine;
  }
}
