/*================ Site Header ================*/
.site-logo {
  display: block;
  background-color: pink;
  color: yellow;
  text-align: center;
  text-transform: uppercase;

  img {
    display: block;
  }
}
